services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: echurch_server
    volumes:
      - .:/var/www
    networks:
      - laravel

  nginx:
    image: nginx:1.25
    container_name: laravel_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./default.conf:/etc/nginx/conf.d/default.conf

    depends_on:
      - app
    networks:
      - laravel

networks:
  laravel:

